build/
pico/
../bike_computer_v2/
sim800_doc/
external/
specification/
source/lib/Parser/src/parser_bison.hpp
source/lib/Parser/src/parser_bison.cpp
source/lib/Parser/src/lexer.cpp
.idea

data/

source/lib/Parser/test_data.json
drivers/DOF/Mag/

data/log
data/map.html
data/gear.png

release/pico_main.uf2
cmake-build-release
cmake-build-debug

.cache

doxygen/doc
doxygen/logs