[submodule "source/external/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = source/external/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico
[submodule "pico-host-sdl"]
	path = pico-host-sdl
	url = https://github.com/raspberrypi/pico-host-sdl
[submodule "source/external/pico-host-sdl"]
	path = source/external/pico-host-sdl
	url = https://github.com/raspberrypi/pico-host-sdl
[submodule "tests/external/pico_tests"]
	path = tests/external/pico_tests
	url = https://github.com/Mendiax/pico_tests
